<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 명시적 선언 --> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h3>타임리프 출력과 변수</h3>

	<!-- 타임리프 문법을 사용하려면 속성 앞에 th를 붙인다 -->

	
	<h3 th:text="헬로월드"></h3> <!-- true -->
	<h3 th:text="${'헬로월드'}"></h3> <!-- true -->

	<h3 th:text="${1 == 1}"></h3> <!-- false -->
	<h3>[[${1 == 1}]]</h3> <!-- false -->
	
	<h3 th:text="${true and false}"></h3> <!-- false -->
	<h3>[[${true and false}]]</h3> <!-- false -->
	
	<h3>[[@{'가' eq '가나가'}]]</h3> <!-- false -->
	
	<!-- 변수선언 -->
	<div th:with="a = 10"> <!-- 10 -->
		[[${a}]]
	</div>
	
	<div th:with="a = '홍길동'" th:text="${a}">
		
	</div>
	
	<!-- value속성의 사용 -->
	<div th:with="a = '이순신'">
		<input type="text" th:value="${a}">
	</div>

	<hr/>
	
	
	<!-- if문 -->
	<div th:with="a = 10">
		<span th:if="${a} == 10">[[${a + '입니다'}]]</span>
		<span th:if="${a} == 20">[[${a + '입니다'}]]</span>
	</div>
	
	<!-- if else문 : unless는 동일한 조건을 적어준다 -->
	<div th:with="a = 10">
		<span th:if="${a != 10}">10이 아닙니다</span>
		<span th:unless="${a != 10}">10입니다</span>
	</div>
	
	<!-- 삼항연산자 -->
	<div th:with="a = 10">
		[[${a == 10 ? '참' : '거짓'}]]<br/>
		[[${a} == 10 ? '참' : '거짓']]
	</div>
	



</body>
</html>